@import "compass/css3";
@import "settings";

.contact-top {
	padding: 10% 5% 0% 5%;
}

.contact-btm {
	padding: 5% 5% 20% 5%;
}


.contact-item {
	width: 100%;
}
	.contact-pic-cont {
	max-width: 540px;
	}

.contact-pic {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border: 10px solid #fff;
	border-bottom: none;
	width: 100%;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

.social-contact {
	list-style-type: none;
	margin-top: 2em;
}

.social-contact li {
	height: 50px;
	margin-bottom: 1em;
}

.social-contact li a {
	background: url(../img/social_icons.png) no-repeat;
	text-decoration: none;
	line-height: 50px;
	display: inline-block;
	height: 50px;
	padding-left: 60px;
	margin-bottom: 1em;
}

.social-contact li a.facebook-contact {
	background-position: 0 0;
	color: #004088;
}

.social-contact li a.twitter-contact {
	background-position: 0 -50px;
	color: #00ABE3;
}

.social-contact li a.linkedin-contact {
	background-position: 0 -100px;
	color: #01669C;
}

a.facebook-contact:hover,
a.twitter-contact:hover,
a.linkedin-contact:hover {
	opacity: 0.7;
}


input, textarea {
	@include border-radius(3px);
}


input[type="text"]:focus, textarea:focus {
	background: #fff;
	color: black;
}

textarea {
	height: 95px;
}

label, button.large {
	margin-top: .8em;
}

button.large {
    padding: 12px 60px;
    border-radius: 5px;
    font-weight: normal;
    }

@media (min-width: 480px) {
	.contact-btm {
		padding: 5% 5% 12% 5%;
	}
}

@media (min-width: 640px) {
	.contact-btm {
	padding: 5% 5% 4% 5%;
	}

	.contact-text {
	display: inline-block;
	width: 45%;
}

	.contact-pic-cont {
	display: inline-block;
	width: 54%;
	vertical-align: bottom;
	}

	button.large {
    padding: 10px;
    }
}

@media (min-width: 768px) {
	.contact-text {
	width: 50%;
	}

	.contact-pic-cont {
	width: 49%;
	vertical-align: top;
	}

}


@media (min-width: 1024px) {
	.contact-text {
	width: 42%;
	}

	.contact-pic-cont {
	width: 45%;
	vertical-align: top;
	margin-left: 112px;

	}

	.form-1 {
	padding-right: 40px;
}
	button.large {
		    margin-left: 81px;
	}
}

@media (min-width: 1280px) {

	.contact-top {
	padding: 5% 0% 0% 0%;
}

	.contact-text {
	width: 42%;
	}

	.contact-pic-cont {
	width: 46%;
	vertical-align: top;
	}
}